* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #181a1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 350px;
    height: 350px;
    padding-top: 20px;
    background-color: #edeef0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#main-p {
    font-size: 30px;
    font-weight: 600;
}

form {
    width: 75%;
    height: 32%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, button {
    height: 30px;
    border-radius: 5px;
}

input, button:focus {
    outline: none;
}

input {
    padding-left: 10px;
    border: none;
}

button {
    border: none;
    background-color: #2684fc;
    color: white;
    transition: 0.25s;
}

button:hover {
    border: 1px solid #2684fc;
    background-color: white;
    color: #2684fc;
}

#error-message {
    font-size: 14px;
    color: red;
}

#result-div {
    width: 75%;
}

#result-div p {
    font-size: 15px;
}